/* ---- Keyboard Components ---- */

@font-face {
  font-family: 'Trickster';
  src: local('Trickster'), url('trickster-COLRv1.otf') format('opentype') tech(color-COLRv1),
    url('trickster-outline.otf') format('opentype'), url('trickster-outline.woff') format('woff');
}

:root {
  --var1: red;
}

.kbd {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  user-select: none;
}
